.about {
  padding-bottom: 64px;

  @include on-tablet {
    padding-bottom: 120px;
  }

  &__banner {
    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 120px;
    }
  }

  &__banner-image {
    width: 100%;
    height: 200px;
    object-fit: cover;

    @include on-tablet {
      height: 321px;
    }

    @include on-desktop {
      height: 460px;
    }
  }

  &__container {
    display: grid;
    gap: 32px;

    @include on-tablet {
      grid-template-columns: 1fr 1fr;
      align-items: start;
      gap: 24px;
    }
  }

  &__content {
    display: grid;
    gap: 24px;
  }

  &__text {
    font-size: 16px;
    line-height: 1.7;
  }
}
