.categories {
  padding-bottom: 96px;

  @include on-tablet {
    padding-bottom: 120px;
  }

  &__title {
    margin-bottom: 48px;
    max-width: 500px;
  }

  &__list {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      row-gap: 56px;
    }
  }

  &__button {
    margin-top: 40px;

    @include on-tablet {
      margin-top: 56px;
    }
  }
}

.category-card {
  &__link {
    display: block;
  }

  &__images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 16px;

    &--wide-left {
      grid-template-columns: 2fr 1fr;
    }

    &--wide-right {
      grid-template-columns: 1fr 2fr;
    }
  }

  &__image {
    width: 100%;
    height: 130px;
    object-fit: cover;
    background-color: $color-surface;

    @include on-tablet {
      height: 184px;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 1.4;
    font-weight: 700;
  }
}
