.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;

    @include on-tablet {
      padding-top: 32px;
    }
  }

  &__logo {
    display: block;

    img {
      width: 127px;
      height: auto;

      @include on-tablet {
        width: 152px;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__icon-link,
  &__menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;

    img {
      width: 24px;
      height: 24px;
    }
  }

  &__phone-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__phone-text {
    position: absolute;
    right: 32px;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 500;

    opacity: 0;
    transform: translateX(10px);
    transition: 0.3s ease;
  }

  &__phone-wrapper:hover &__phone-text {
    opacity: 1;
    transform: translateX(0);
  }

  &__icon-link,
  &__menu-button,
  &__logo {
    img {
      transition: transform 0.3s ease;
    }

    &:hover img {
      transform: scale(1.3);
    }
  }
}
