.recommended {
  padding-block: 64px;

  @include on-tablet {
    padding-block: 120px;
  }

  &__title {
    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 56px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;

    @include on-tablet {
      grid-template-columns: repeat(3, 1fr);
      gap: 24px 0;

    }
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__image-link {
    display: block;
    margin-bottom: 24px;
    overflow: hidden;
    background-color: $color-surface;
  }

  &__image {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    transition: transform $transition-duration ease;
  }

  &__image-link:hover &__image {
    transform: scale(1.03);
  }

  &__title {
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 700;

    @include on-tablet {
      font-size: 24px;
    }
  }

  &__description {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 1.4;
    flex-grow: 1;
  }

  &__price {
    font-size: 16px;
    line-height: 1.4;
    font-weight: 700;
  }
}
