$color-background: #fff;
$color-surface: #f8f8fa;
$color-white: #fff;
$color-black: #292929;
$color-muted: #9393a3;
$color-border: #d5d7de;
$color-input: #f8f8fa;
$container-max-width: 1260px;
$content-width: 1020px;
$transition-duration: 0.3s;

