.page {
  font-family: "Space Grotesk", sans-serif;
  color: $color-black;
  background-color: $color-background;


  &__body {
    min-width: 320px;
  }
}

body {
  background-color: $color-background;
}

.main {
  overflow: hidden;
}

.section-title {
  font-size: 32px;
  line-height: 1;
  font-weight: 700;

  @include on-tablet {
    font-size: 48px;
  }
}

.page:has(.menu:target) {
  overflow: hidden;
}
